@font-face {
    font-family: circular-book;
    src: url(fonts/circular-book.woff2);
}

@font-face {
    font-family: circular-bold;
    src: url(fonts/circular-bold.woff2);
}

 @font-face {
    font-family: circular-black;
    src: url(fonts/circular-black.woff2);
 }

body{
    margin: 0;
    overflow-x: hidden;
    font-family: circular-book, Helvetica, sans-serif;
    background-color: black;
}

container {
    display: grid;
    grid-template-areas: "header header header header header header header header"
                         ". logo empresas comunidade links redes redes ."
                         ". footer footer footer footer footer footer .";
    grid-template-rows: 100vh 50vh 24vh;
    grid-template-columns: 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw;
}

nav{
    grid-area: nav;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 80px;
    width: 100vw;
}

nav :first-child{
    display: flex;
    padding: 0 11.5%;
}

nav :first-child img{
    height: 40px;
}

nav :nth-child(2){
    display: flex;
    padding: 0 12.4%;
}

nav :nth-child(2) a{
    color: #ffffff;
    text-decoration: none;
    padding: 0 17px;
    font-size: 16px;
    font-family: circular-book, helvetica, sans-serif;
    font-weight: 700;
}

nav :nth-child(2) a:hover{
    color:#1DB954;
}

.aColorNav{
    color: #D9DADC;
}

.aColorNav:hover{
    color: #1DB954;
}

#pip:hover{
    color: #ffffff;
    cursor: default;
}

header{
    grid-area: header;
    background-image: url(images/bg1.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 75px;
}

header :first-child h1{
    color: #ffffff;
    font-size: 80px;
    letter-spacing: -0.04em;
    font-family: circular-bold, helvetica, sans-serif;
    margin-bottom: 0;
}

header :first-child h4{
    color: #ffffff;
    font-size: 18px;
    font-family: circular-book, helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
}

header :first-child button{
    background-color: #1DB954;;
    color: #ffffff;
    padding: 16px 48px 18px;
    border-radius: 500px;
    border: none;
    font-size: 14px;
    font-family: circular-bold, helvetica, sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.5s;
    line-height: 1;
    margin-top: 30px;
}

header :first-child button:hover{
    background-color: #1ED760;
    transition: 0.5s;
}

logo {
    grid-area: logo;
    background-color: black;
    margin-top: 80px;
}

logo img{
    height: 40px;
}

empresas {
    grid-area: empresas;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

empresas a{
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 15px;
}

comunidade {
    grid-area: comunidade;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

comunidade a{
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 15px;
}

links {
    grid-area: links;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

links a{
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 15px;
}

redes {
    grid-area: redes;
    display: flex;
    background-color: black;
    margin-top: 80px;
    justify-content: right;
}

redes img{
    height: 24px;
    width: auto;
}

.imgRedes{
    background-color: #222326;
    border-radius: 30px;
    height: 24px;
    padding: 15px;
    width: auto;
    margin-left: 15px;
}

footer {
    grid-area: footer;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: #919496;
    font-size: 12px;
    margin-top: 90px;
}

footer :nth-child(2){
    text-align: right;
}

footer a{
    color: #919496;
    text-decoration: none;
    padding: 0 12px;
}

footer a:hover{
    color: #1DB954;
}

footer img{
    height: 18px;
}

h3{
    color: #919496;
    font-size: 12px;
}